---
export interface Props {
  meta?: string;
  hand?: string;
}

const {
  meta = 'Zerodha &middot; Bangalore &middot; The Internet<br>A small corner on the dumpster fire since 2019',
  hand = "You read all the way to the footer? That's more commitment than most of my drafts get."
} = Astro.props;
---

<footer>
  <span class="ft-brand">Bhuvan.</span>
  <div class="ft-meta" set:html={meta} />
  <span class="ft-hand">{hand}</span>
</footer>
