---
import ThemeToggle from './ThemeToggle.astro';
---

<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="/" class="logo">Bhuvan</a>
      <ul class="nav-links">
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Writing</a></li>
        <li><a href="/updates">Updates</a></li>
        <li><a href="/projects">Projects</a></li>
        <li class="theme-toggle-item"><ThemeToggle /></li>
      </ul>
    </nav>
  </div>
</header>